.ProductDetailModal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.ProductDetailModal .content {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  max-width: 1088px;
  max-height: 648px;
}

.ProductDetailModal .header {
  display: flex;
  justify-content: flex-end;
}

.close-btn {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
  color: #000;
  opacity: .3;
  cursor: pointer;
  border: none;
}