.col-product {
  width: 45%;
}

.col-price {
  width: 20%;
}

.col-total {
  width: 15%;
}

.col-quantity {
  width: 20%;
}

.product-image img {
  width: 72px;
  height: 72px;
}

.NumericStepper__input {
  height: 40px;
  width: 40px;
}

.NumericStepper__count {
  padding: 0 8px;
  height: 40px;
  color: var(--primary);
}