/************************************************/
/*             MOVO TEST COLOR SYSTEM           */
/************************************************/
/* prettier-ignore */

:root {
  --primary:            #7350FF;
  --light-primary:      #8142ff;

  --light-secondary:    #292759;
  --secondary:          #212240;
  
  --white:              #FFFFFF;

  --anti-flash-white:   #F3F3F3;
  --gainsboro:          #DBDBE0;
  --lavender-gray:      #CACAD1;
  --quick-silver:       #A6A7B3;
  --aurometalsaurus:    #717285;
  --yankees-blue:       #212240;

  --black:              #000000;
}
